
*.BAK
*.FXP
*.zip
*.o
*.d
*.list
*.map
*.kicad_pcb-bak
*.bak
*.su
*.su
Hardware/fp-info-cache
Hardware/_autosave-oscar.pro
~$Oscar_Pins.xlsx
Oscar446/Drivers/MCD-ST Liberty SW License Agreement V2.pdf
Hardware/_autosave-oscar.kicad_pcb
Hardware/\#auto_saved_files\#
*.cyclo
