
*.BAK
*.FXP
*.zip
*.o
*.d
*.list
*.map
*.kicad_pcb-bak
*.bak
*.su
*.su
Hardware/fp-info-cache
Hardware/_autosave-oscar.pro
~$Oscar_Pins.xlsx
Oscar446/Drivers/MCD-ST Liberty SW License Agreement V2.pdf
Hardware/_autosave-oscar.kicad_pcb
Hardware/\#auto_saved_files\#
*.cyclo
Hardware/_autosave-oscar.sch
Hardware/_autosave-lcd_Daughterboard.sch
*#auto_saved_files*
Hardware_v2/fp-info-cache
_autosave*
*.lck
Hardware_v2/Graphics/signal-sine-wave-01.svg
Hardware_v2/lcd_18pin.jpg
Hardware_v2/Graphics/sine.png
/Oscar_2
